<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Bands</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < bands.length; i++) { %>
                    <tr>
                        <td><%= bands[i].name %></td>
                        <td><%= bands[i].genre %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>   
    </body>
</html>